In [10]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer as SIA
import pandas as pd
import numpy as np

In [11]:
sia = SIA()

In [13]:
news_df = pd.read_csv('news_20171001-20200430')

In [14]:
news_df.head()

,Unnamed: 0,author,title,description,url,publishedAt,content,from,date
0,0,Samuel Wade,"Katy Perry, Publishers, and Self-censorship in...","On Monday, CDT Chinese reposted a letter circu...",https://chinadigitaltimes.net/2017/11/katy-per...,2017-11-08T02:59:56Z,"On Monday, CDT Chinese reposted a letter circu...",Chinadigitaltimes.net,2017-11-08
1,1,Jesse Hamilton,Bank of Amazon? Regulator Floats Idea of Mergi...,Bloomberg Bank of Amazon? Regulator Floats Ide...,https://www.bloomberg.com/news/articles/2017-1...,2017-11-08T15:07:48Z,Bank of Amazon. Facebook Financial. Wal-Bank. ...,Bloomberg,2017-11-08
2,2,NaN,"Video games could be next for Snapchat, China'...",Chinese gaming and social media company Tencen...,https://japantoday.com/category/tech/update-2-...,2017-11-09T22:24:06Z,Chinese gaming and social media company Tencen...,Japantoday.com,2017-11-09
3,3,Tim Dixon,DiDi’s Huge Role In The Quickly Developing Chi...,Didi Chuxing (China's Uber-like ride-hailing s...,https://cleantechnica.com/2017/11/09/didis-hug...,2017-11-09T23:50:30Z,"Cars Published on November 9th, 2017 | by Tim ...",Cleantechnica.com,2017-11-09
4,4,NaN,Why You Should Buy JD.Com Inc(ADR) Stock Immed...,Shares of JD.com Inc(ADR) (NASDAQ:JD) have set...,https://finance.yahoo.com/news/why-buy-jd-com-...,2017-11-09T17:05:21Z,Shares of JD.com Inc(ADR) (NASDAQ: JD ) have s...,Yahoo.com,2017-11-09

In [17]:
sia.polarity_scores(news_df.content[5])

{'neg': 0.027, 'neu': 0.858, 'pos': 0.115, 'compound': 0.9969}

In [21]:
date = list()
title_pos = list()
title_neg = list()
desc_pos = list()
desc_neg = list()
content_pos = list()
content_neg = list()

In [23]:
def sia_execution(text_content, pos_count_container, neg_count_container):
    score = sia.polarity_scores(text_content)
    
    pos_score = score["pos"]+(score["neu"]/2)
    
    pos_count_container.append(pos_score)
    neg_count_container.append(score["neg"])
        


for index, row in news_df.iterrows():
    date.append(row["date"])
    
    if type(row["title"]) == str:
        sia_execution(row["title"], title_pos, title_neg)    
    else:
        title_pos.append(0)
        title_neg.append(0)
        
    if type(row["description"]) == str:
        sia_execution(row["description"], desc_pos, desc_neg)
    else:
        desc_pos.append(0)
        desc_neg.append(0)
            
    if type(row["content"]) == str:
        sia_execution(row["content"], content_pos, content_neg)
    else:
        content_pos.append(0)
        content_neg.append(0)

In [24]:
d = {"date": date, "title_pos": title_pos, "title_neg": title_neg, "desc_pos": desc_pos, "desc_neg": desc_neg, 
    "content_pos": content_pos, "content_neg": content_neg}

In [25]:
sia_df = pd.DataFrame(d)

In [26]:
sia_csv = sia_df.to_csv("sentiment_analysis_using_sia.csv")

In [40]:
s_df = pd.read_csv("sentiment_analysis_using_sia.csv")

In [41]:
s_df.head()

,Unnamed: 0,date,title_pos,title_neg,desc_pos,desc_neg,content_pos,content_neg
0,0,2017-11-08,0.5000,0.0,0.5250,0.000,0.5210,0.065
1,1,2017-11-08,0.5670,0.0,0.4820,0.103,0.4985,0.061
2,2,2017-11-09,0.5000,0.0,0.5295,0.000,0.5445,0.020
3,3,2017-11-09,0.5935,0.0,0.5255,0.000,0.5375,0.011
4,4,2017-11-09,0.5000,0.0,0.5010,0.050,0.5675,0.034

In [103]:
date = s_df.date
title_pos = s_df.title_pos
title_neg = s_df.title_neg
desc_pos = s_df.desc_pos
desc_neg = s_df.desc_neg
content_pos = s_df.content_pos
content_neg = s_df.content_neg

In [104]:
unique_dates_dict = dict()

for dt in d["date"]:
    if dt not in unique_dates_dict:
        unique_dates_dict[dt] = 1
    else:
        unique_dates_dict[dt] += 1

In [105]:
date_index_dict = {dt: list() for dt in unique_dates_dict.keys()}

In [106]:
for u_date in unique_dates:
    for idx in range(len(d["date"])):
        if u_date == d["date"][idx]:
           date_index_dict[u_date].append(idx)

In [107]:
unq_title_pos = list()
unq_title_neg = list()
unq_desc_pos = list()
unq_desc_neg = list()
unq_content_pos = list()
unq_content_neg = list()

In [108]:
for dt in date_index_dict:
    t_pos = t_neg = c_pos = c_neg = d_pos = d_neg = 0
    
    for idx in date_index_dict[dt]:
        t_pos += title_pos[idx] 
        t_neg += title_neg[idx] 
        d_pos += desc_pos[idx] 
        d_neg += desc_neg[idx]
        c_pos += content_pos[idx]
        c_neg += content_neg[idx]
    
    unq_title_pos.append(t_pos)
    unq_title_neg.append(t_neg)
    unq_desc_pos.append(d_pos)
    unq_desc_neg.append(d_neg)
    unq_content_pos.append(c_pos)
    unq_content_neg.append(c_neg)

In [109]:
unq_d = {
     "date": unique_dates, 
     "title_pos": unq_title_pos, 
     "title_neg": unq_title_neg, 
     "desc_pos": unq_desc_pos, 
     "desc_neg": unq_desc_neg, 
     "content_pos": unq_content_pos, 
     "content_neg": unq_content_neg
}

In [110]:
new_s_df.head()

,date,title_pos,title_neg,desc_pos,desc_neg,content_pos,content_neg
0,2017-11-08,1.0670,0.000,1.0070,0.103,1.0195,0.126
1,2017-11-09,2.0935,0.000,2.0845,0.050,2.1935,0.092
2,2017-11-10,4.0350,0.000,3.6475,0.082,3.7405,0.245
3,2017-11-11,1.9110,0.571,2.0295,0.382,2.0895,0.164
4,2017-11-12,2.6670,0.239,2.6165,0.155,2.1360,0.054

In [120]:
nor_df = {col:list() for col in new_s_df.columns}
col = ["title_pos", "title_neg", "desc_pos", "desc_neg", "content_pos", "content_neg"]

In [121]:
for index, row in new_s_df.iterrows():
    count = unique_dates_dict[row["date"]]
    nor_df["date"] = row["date"]
    for idx in col:
        nor_df[idx].append(row[idx]/count)

In [122]:
f_nor_df = pd.DataFrame(nor_df)

In [123]:
f_nor_df.head()

,date,title_pos,title_neg,desc_pos,desc_neg,content_pos,content_neg
0,2020-04-30,0.533500,0.00000,0.503500,0.051500,0.509750,0.0630
1,2020-04-30,0.523375,0.00000,0.521125,0.012500,0.548375,0.0230
2,2020-04-30,0.576429,0.00000,0.521071,0.011714,0.534357,0.0350
3,2020-04-30,0.477750,0.14275,0.507375,0.095500,0.522375,0.0410
4,2020-04-30,0.533400,0.04780,0.523300,0.031000,0.427200,0.0108

In [124]:
nor_sia_csv = f_nor_df.to_csv("normalised_sentiment_analysis_using_sia.csv")